{% extends 'common/layout.html' %}

{% block content %}

    <div class="search-tab">
        <div class="logo">
            <img src="{{ url('static', filename='images/Desktop%202.png') }}" class="desktop-image">
            <img src="{{ url('static', filename='images/image%206.png') }}" class="stepler-image">
            <img src="{{ url('static', filename='images/image%207.png') }}" class="nozhnitsy-image">
            <img src="{{ url('static', filename='images/image%208.png') }}" class="glasses-image">
            <img src="{{ url('static', filename='images/image%209.png') }}" class="phone-image">
            <img src="{{ url('static', filename='images/Image%2010.png') }}" class="plant-image">
            <img src="{{ url('static', filename='images/Image%2011.png') }}" class="stick-image">
            <img src="{{ url('static', filename='images/Image%2013.png') }}" class="skrepki-image">
            <img src="{{ url('static', filename='images/Path%20857.png') }}" class="black-circle-image">
            <div class="text-holder">
                <span class="main-text">Найкраще місце твоєї роботи</span>
                <span class="text">Простий і ефективний спосіб пошуку вакансій</span>
                <div class="search-bar">
                    <div class="inputs-wrapper">
                        <input placeholder="Введіть ключові слова (наприклад: дизайнер)" class="search-input"
                               id="search_input"/>
                    </div>
                    <a id="search_button">ЗНАЙТИ РОБОТУ</a>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="main-header">
            <span class="portal-news float-left" style="font-size: 16px; color: #6D7989;">НОВИНИ ПОРТАЛУ</span>
            <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 70%"></div>
            <span class="all-news float-right" id="all_news"><a href="/category"
                                                                style="text-decoration: none; color: var(--second-color)">ВСІ КАТЕГОРІЇ</a></span>
            <span class="all-news float-right" id="all_news"><a href="/news"
                                                                style="text-decoration: none; color: var(--second-color)">ВСІ НОВИНИ</a></span>
        </div>
        <div class="row justify-content-space-between">
            {% for new in news %}
                <div class="column">
                    <div class="wrapper">
                        <div class="img-holder">
                            <img src="{{ new.image_url }}">
                        </div>
                        <div class="date-created">{{ new.date }}</div>
                        <div class="news-title">{{ new.title }}</div>
                        <div class="news-description">{{ new.text }}
                        </div>
                        <div class="date-created">Переглядів: {{ new.views }}</div>
                        <a class="more-button" href="/news/{{ new.id }}">
                            <span style="margin-right: 10px">Дивитися</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}