{% extends 'common/layout.html' %}

{% block content %}

    <main>
        <div class="main-header">
            <span class="portal-news float-left" style="font-size: 16px; color: #6D7989;">КАТЕГОРІЯ ВАКАНСІЙ</span>
            <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 70%"></div>
            <span class="all-news float-right" id="all_news"><a href="/category"
                                                                style="text-decoration: none; color: var(--second-color)">ВСІ КАТЕГОРІЇ</a></span>
            <span class="all-news float-right" id="all_news"><a href="/vacancy"
                                                                style="text-decoration: none; color: var(--second-color)">ВСІ ВАКАНСІЇ</a></span>
        </div>
        <div class="news-holder">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="img-holder">
                        <img src="{{ category.image_url }}">
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <h1>{{ category.name }}</h1>
                    <div class="news-description">{{ category.description }}</div>
                </div>
            </div>
        </div>
        <div class="main-header">
            <span class="portal-news float-left"
                  style="font-size: 16px; color: #6D7989;">ВАКАНСІЇ ЦІЄЇ КАТЕГОРІЇ</span>
            <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 70%"></div>
        </div>
        <div class="row justify-content-space-between">
            {% for vacancy in vacancies %}
                <div class="column">
                    <div class="wrapper">
{#                        <div class="img-holder">#}
{#                            <img src="{{ vacancy.image_url }}">#}
{#                        </div>#}
{#                        <div class="date-created">{{ vacancy.date }}</div>#}
                        <div class="news-title">{{ vacancy.position }}</div>
                        <div class="news-description">{{ vacancy.description }}
                        </div>
                        <a href="/company/{{ vacancy.company_id }}">{{ vacancy.company_name }}</a>
                        <a class="more-button" href="/vacancy/{{ vacancy.id }}">
                            <span style="margin-right: 10px">Дивитися</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="main-header">
            <span class="portal-news float-left"
                  style="font-size: 16px; color: #6D7989;">НОВИНИ ЦІЄЇ КАТЕГОРІЇ</span>
            <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 70%"></div>
        </div>
        <div class="row justify-content-space-between">
            {% for new in related_news %}
                <div class="column">
                    <div class="wrapper">
                        <div class="img-holder">
                            <img src="{{ new.image_url }}">
                        </div>
                        <div class="date-created">{{ new.date }}</div>
                        <div class="news-title">{{ new.title }}</div>
                        <div class="news-description">{{ new.text }}
                        </div>
                        <div class="date-created">Переглядів: {{ new.views }}</div>
                        <a class="more-button" href="/news/{{ new.id }}">
                            <span style="margin-right: 10px">Дивитися</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}