{% extends 'common/layout.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='styles/resume/app.css') }}">
{% endblock %}

{% block content %}
    <section class="one-resume">
        <div class="container">
            <div class="resume-container">
                <p>Навички, що ви зазначили в резюме</p>
                <p>{{ resume.perks }}</p>
                <p>Хобі, що ви зазначили</p>
                <p>{{ resume.hobbies }}</p>
                <a href="/category/{{ resume.category_id }}">{{ resume.category_name }}</a>
                <a class="more-button" href="/resume/{{ resume.id }}">
                    <span style="margin-right: 10px">Дивитися</span>
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="main-header" style="margin-bottom: 20px; margin-top: 50px">
            <span class="portal-news float-left"
                  style="font-size: 16px; color: #6D7989;">ДОСВІД РОБОТИ</span>
            <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 100%; padding-top: 7px"></div>
        </div>
        <div class="experience=container">
            {% for experience in experiences %}
                <div class="experience-block">

                </div>
            {% endfor %}
            <h1>Enter experience</h1>
            <form action="/resume/update" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">News title</label>
                    <input type="text" name="title" required class="form-control" id="exampleInputEmail1"
                           aria-describedby="emailHelp"
                           placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Text</label>
                    <textarea class="form-control" required name="description" placeholder="Enter Description"
                              style="resize: none"
                              rows="10" id="exampleInputPassword1"></textarea>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">News date</label>
                    <input type="date" required name="starting_date" class="form-control" id="exampleInputPassword1"
                           placeholder="Enter date">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">News date</label>
                    <input type="date" name="ending_date" class="form-control" id="exampleInputPassword1"
                           placeholder="Enter date">
                </div>
                <input readonly type="text" name="resume_id" value="{{ resume.id }}" style="display:none;">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url('static', filename='js/resume.js') }}"></script>
{% endblock %}