{% extends 'common/layout.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='styles/resume/app.css') }}">
{% endblock %}

{% block content %}
    <section class="one-resume">
        <div class="container">
            <h1>ПЕРЕГЛЯД РЕЗЮМЕ</h1>
            <div class="resume-container">
                <p>Навички, що ви зазначили в резюме</p>
                <p>{{ resume.perks }}</p>
                <p>Хобі, що ви зазначили</p>
                <p>{{ resume.hobbies }}</p>
                <a href="/category/{{ resume.category_id }}">{{ resume.category_name }}</a>
            </div>
            <div class="main-header" style="margin-bottom: 20px; margin-top: 50px">
            <span class="portal-news float-left"
                  style="font-size: 16px; color: #6D7989;">ДОСВІД РОБОТИ</span>
                <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 100%; padding-top: 7px"></div>
            </div>
            <div class="experience=container">
                {% for experience in experiences %}
                    <div class="experience-block">
                        <p>Назва: {{ experience.title }}</p>
                        <p>Опис:</p>
                        <p>{{ experience.description }}</p>
                        <p>Початок роботи: {{ experience.starting_date }}</p>
                        <p>Кінець роботи:
                            {% if experience.ending_date != None %}{{ experience.ending_date }}{% else %}<i>не
                                зазначено</i>{% endif %}</p>
                    </div>
                {% endfor %}
                {% if is_employer == True %}
                    <h1>Enter experience</h1>
                    <form action="/resume/update" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">News title</label>
                            <input type="text" name="title" required class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter title">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Text</label>
                            <textarea class="form-control" required name="description" placeholder="Enter Description"
                                      style="resize: none"
                                      rows="10" id="exampleInputPassword1"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">News date</label>
                            <input type="date" required name="starting_date" class="form-control"
                                   id="exampleInputPassword1"
                                   placeholder="Enter date">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">News date</label>
                            <input type="date" name="ending_date" class="form-control" id="exampleInputPassword1"
                                   placeholder="Enter date">
                        </div>
                        <input readonly type="text" name="resume_id" value="{{ resume.id }}" style="display:none;">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                {% endif %}
            </div>
        </div>

    </section>
{% endblock %}

{% block scripts %}
    <script src="{{ url('static', filename='js/resume.js') }}"></script>
{% endblock %}