{% extends 'common/layout.html' %}

{% block styles %}

    <link rel="stylesheet" href="{{ url('static', filename='styles/profiles/app.css') }}">

{% endblock %}

{% block content %}

    <section class="register">

        <div class="container">
            {% if flush is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ flush }}
                </div>
            {% endif %}
            {% if not disabled %}
                <div class="alert alert-info" role="alert">
                    Your account is active!
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    YOUR ACCOUNT HAS BEEN DISABLED, PLEASE CONTACT OUR SUPPORT TEAM
                </div>
            {% endif %}
            <div class="button-handler">
                <button class="button active" id="profile_preview">
                    Перегляд профілю
                </button>
                <button class="button" id="profile_edit">
                    Редагування профілю
                </button>
                <button class="button" id="resume_preview">
                    Ваші вакансії
                </button>
            </div>

            <div class="form-handler active" id="profile_previewing">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <img src="





                                {% if image_url is defined and image_url != None %}{{ image_url }}{% else %}{{ url('static', filename='images/utils/profile.png') }}{% endif %}"
                             alt="profile_pic">
                        <h1>{{ name }}</h1>
                    </div>
                    <div class="col-12 col-md-8">
                        <h2>Ваші контактні дані:</h2>
                        <p>Email: {{ email }}</p>
                        <p>Опис компанії:
                            {% if description != None %}{{ description }}{% else %}<i>не зазначено</i>{% endif %}</p>
                        <p>Кількість співробітників:
                            {% if employers_cnt != None %}{{ employers_cnt }}{% else %}<i>не зазначено</i>{% endif %}
                        </p>
                        <p>Рік заснування:
                            {% if est_year != None %}{{ est_year }}{% else %}<i>не зазначено</i>{% endif %}
                        </p>
                        <p>Посилання на {% if site_url != None %}
                            <a style="font-size: 16px" target="_blank" href="{{ site_url }}">сайт</a>{% else %}сайт
                            <i>не зазначено</i>{% endif %}</p>
                        <p>Основна категорія роботи компанії:
                            {% if main_category != None %}{{ main_category }}{% else %}<i>не зазначено</i>{% endif %}
                        </p>
                        <p>Поточний статус компанії:
                            {% if status_name is defined and status_name != None %}<i>{{ status_name }}</i>{% else %}
                                <i>не зазначено</i>{% endif %}</p>
                    </div>
                </div>
            </div>

            <div class="form-handler" id="profile_editing">
                <form method="post" action="/company">
                    <div class="form-group">
                        <label for="inputFirstName">Введіть ім'я компанії</label>
                        <input name="name" type="text" value="{{ name }}" required class="form-control"
                               id="inputFirstName"
                               placeholder="Ім'я компанії">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть опис вашої компанії</label>
                        <textarea name="description" class="form-control" id="inputLastName"
                                  placeholder="Опис компанії" rows="10">{% if description != None %}
                            {{ description }}{% endif %}</textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть посилання на зображення профілю компанії</label>
                        <input name="image_url" {% if image_url != None %}value="{{ image_url }}"{% endif %} type="text"
                               class="form-control" id="inputLastName"
                               placeholder="Зображення">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть кількість співробітників компанії</label>
                        <input name="employers_cnt" {% if employers_cnt != None %}value="{{ employers_cnt }}"{% endif %}
                               type="number"
                               class="form-control" id="inputLastName"
                               placeholder="Кількість співробітників" min="0">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть дату заснування компанії</label>
                        <input name="est_year" {% if est_year != None %}value="{{ est_year }}"
                               {% else %}value="2019"{% endif %} type="number"
                               class="form-control" id="inputLastName"
                               placeholder="Рік заснування" min="0" max="2019">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть вашу нове посилання на сайт</label>
                        <input name="site_url" {% if site_url != None %}value="{{ site_url }}"{% endif %}
                               type="text" class="form-control" id="inputLastName"
                               placeholder="Сайт url">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть основне направлення вашої компанії</label>
                        <input name="main_category" {% if main_category != None %}value="{{ main_category }}"{% endif %}
                               type="text"
                               class="form-control" id="inputLastName"
                               placeholder="Основне направлення">
                    </div>
                    <div class="form-group">
                        <label for="inputLastName">Введіть поточний статув вашої компанії</label>
                        <select id="inputLastName" name="status" style="display: block; min-width: 300px">
                            {% for status in statuses %}
                                <option value="{{ status.id }}">{{ status.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <button type="submit" class="btn sign-up-button">ЗБЕРЕГТИ</button>
                </form>
            </div>

            <div class="form-handler" id="resume_container">
                <h1>ПЕРЕГЛЯД ВАШИХ ВАКАНСІЙ</h1>
                {% if vacancies|length == 0 %}
                    <p>Ви ще не додали жодної вакансії :(</p>
                {% else %}
                    {% for vacancy in  vacancies %}
                        <div class="vacancy-block">
                            <h2>{{ vacancy.position }}</h2>
                            <p>{{ vacancy.description }}</p>
                            <p>{{ vacancy.requirements }}</p>
                            <p>{{ vacancy.salary }}</p>
                            <p>{{ vacancy.working_type }}</p>
                            <a href="/category/{{ vacancy.category_id }}">{{ vacancy.category_name }}</a>
                            <a href="/vacancy/{{ vacancy.id }}">View this vacancy</a>
                        </div>
                    {% endfor %}
                {% endif %}
                <a href="/vacancy/create" id="resume_create" class="sign-up-button">СТВОРИТИ ВАКАНСІЮ</a>

            </div>

        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ url('static', filename='js/profile.js') }}"></script>
{% endblock %}