<footer>
    <div class="row">
        <div class="column">
            <img src="{{ url('static',filename='images/footer_logo.svg') }}" alt="logo" class="footer-logo">
        </div>
        <div class="column">
            <a id="news" class="news-button footer-button">НОВОСТИ</a>
            <a id="about" class="about-button footer-button">О НАС</a>
            <a id="contacts" class="contacts-button footer-button">КОНТАКТЫ</a>
        </div>
        <div class="column">
            <a id="confidentiality" class="confidentiality-button footer-button">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
            <a id="agreement" class="agreement-button footer-button">ПОЛЬЗОВАТЕЛЬСКОЕ СОГЛАШЕНИЕ</a>
            <a id="rules" class="rules-button footer-button">ПРАВИЛА САЙТА</a>
            <a id="cookies" class="cookies-button footer-button">ПОЛИТИКА ИСПОЛЬЗОВАНИЯ ФАЙЛОВ COOKIE</a>
        </div>
        <div class="column social-networks">
            <div class="holder">
                <i id="facebook" class="fab fa-facebook-f"></i>
                <i id="telegram" class="fab fa-telegram-plane"></i>
                <i id="instagram" class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>