{% extends 'common/layout.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url('static',filename='styles/vacancy/one_page.css') }}">
{% endblock %}

{% block content %}
    <section class="one-vacancy">
        <div class="container">
            <div class="vacancy-handler">
                <h1>{{ vacancy.position }}</h1>
                <p class="title">Опис вакансії:</p>
                <p class="text">{{ vacancy.description }}</p>
                <p class="title">Опис обов'язків:</p>
                <p class="text">{{ vacancy.requirements }}</p>
                <p class="small-title">З/П: {{ vacancy.salary }}</p>
                <p class="small-title">Тип занятості: {{ vacancy.working_type }}</p>
                Категорія: <a href="/category/{{ vacancy.category_id }}">{{ vacancy.category_name }}</a><br><br>
                Компанія: <a href="/companies/{{ vacancy.company_id }}">{{ vacancy.company_name }}</a>
            </div>
            {% if employer %}
                {% if made_response == True %}
                    {% if status is defined and status.status != None %}
                        {% if status.status == True %}
                            <div class="alert alert-success" role="alert">
                                <h4>Вітаємо! Вам призначено інтерв'ю</h4>
                                {{ status.entry_msg }}<br>
                                Дата: {{ status.interview_date }}
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert">
                                <h4>На жаль, ваше резюме не прийнято(</h4>
                                {{ status.entry_msg }}
                            </div>
                        {% endif %}

                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <h4>Вітаємо! Ви відгукнулися на вакансію! Зачекайте поки представники дадуть відгук!</h4>
                        </div>
                    {% endif %}
                {% else %}
                    {% if has_resume == True %}
                        <form action="/response/make" method="post" class="">
                            <input style="display: none" readonly required name="vac_id" value="{{ vacancy_id }}">
                            <button type="submit" class="sign-up-button">Відгукнутися</button>
                        </form>
                    {% else %}
                        <div class="alert alert-warning" role="alert">
                            <h4>Щоб відгукнутися, створіть спочатку резюме для цієї категорії</h4>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            <div class="main-header" style="margin-bottom: 20px; margin-top: 20px">
            <span class="portal-news float-left"
                  style="font-size: 16px; color: #6D7989;">ТАКОЖ ШУКАЮТЬ</span>
                <div class="line" style="border-bottom: 1px solid #E9EAEC; width: 100%; padding-top: 7px"></div>
            </div>
            <div class="" id="resume_container">
                {% for vacancy in vacancies %}
                    <div class="vacancy-block">
                        <a class="link" href="/vacancy/{{ vacancy.id }}">{{ vacancy.position }}</a>
                        <p class="title">Опис вакансії:</p>
                        <p class="text">{{ vacancy.description }}</p>
                        <p class="title">Опис обов'язків:</p>
                        <p class="text">{{ vacancy.requirements }}</p>
                        <p class="small-title">З/П: {{ vacancy.salary }}</p>
                        <p class="small-title">Тип занятості: {{ vacancy.working_type }}</p>
                        {#                    Категорія: <a href="/category/{{ vacancy.category_id }}">{{ vacancy.category_name }}</a>#}
                    </div>
                {% endfor %}

            </div>

        </div>
    </section>
{% endblock %}