{% extends 'common/layout.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url('static', filename='styles/vacancy/app.css') }}">
{% endblock %}

{% block content %}

    <section class="vacancy-create">


        <div class="container">
            <h1>СТВОРИТИ НОВУ ВАКАНСІЮ</h1>
            {% if flush is defined %}
                <div class="alert alert-danger" role="alert">
                    {{ flush }}
                </div>
            {% endif %}
            <form action="/vacancy/create" method="post">
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Позиція</label>
                    <div class="col-sm-9">
                        <input type="text" name="position" class="form-control" id="inputPassword"
                               placeholder="Введіть назву позиції для вакансії">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName">Опис вакансії</label>
                    <textarea name="description" class="form-control" id="inputLastName"
                              placeholder="Введіть детальний опис вакансії/позиції" required rows="10"></textarea>
                </div>
                <div class="form-group">
                    <label for="inputLastName">Обов'язки</label>
                    <textarea name="requirements" class="form-control" id="inputLastName"
                              placeholder="Детально опишіть, які обов'язки буде виконувати робітник" required
                              rows="10"></textarea>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Заробітна плата</label>
                    <div class="col-sm-9">
                        <input type="text" name="salary" class="form-control" id="inputPassword"
                               placeholder="Введіть приблизну заробітну плату для вашої позиції">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLastName" class="col-sm-3 col-form-label">Тип занятості</label>
                    <div class="col-sm-9 select-handler">
                        <select id="inputLastName" name="working_type" style="display: block; min-width: 300px">
                            {% for type in types %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputLastName" class="col-sm-3 col-form-label">Категорія вакансії</label>
                    <div class="col-sm-9 select-handler">
                        <select id="inputLastName" name="category" style="display: block; min-width: 300px">
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="submit" class="sign-up-button">СТВОРИТИ</button>
            </form>
        </div>
    </section>

{% endblock %}

{% block scripts %}
    <script src="{{ url('static',filename='js/vacancy.js') }}"></script>
{% endblock %}